.deckPage {
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	justify-content: space-between;
	gap: 2%
}

.deck-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
	gap: 3mm;
}

.list-of-cards {
	width: 40%;
	text-align: start;
}

.list-of-cards h1,
h2,
h3,
i {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.card-with-del-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3mm
}

.edit-name-form {
	width: 50%;
	gap: 3mm;
}

.save {
	width: fit-content;
	margin-bottom: 6%;
}

.page-w-stats {
	display: flex;
	flex-direction: column;
}

.chart {
	width: 50%;
}

.left-text {
	text-align: left;
}

.study-btn {
	display: flex;
	flex-direction: row;
	gap: 5%
}

.bbb {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}