.deckPage {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.study-btn {
  align-self: center;
}

.big {
  width: 20px;
}