.deckPage {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.study-btn {
  align-self: center;
}

.deck-buttons {
  margin-top: 10%;
}

.list-of-cards {
  max-width: 500px;
}