.deck-form {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    width: fit-content;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea[type=text] {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.deck-form button {
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .deck-form {
        padding: 0%;
        display: block;
        width: 100%;
    }
    .line {
        margin-top: 20%;
    }
	textarea[type=text] {
        width: 200px;
    }
    
}