.line {
    width: 500px;
}

.study-button-line {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10%
}

.grey {
    color: rgb(134, 134, 134);
}

.one-line {
    display: flex;
    flex-direction: row;
}