.signup {
    max-width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.signup * {
    color: rgb(98, 84, 100);
}

.mid {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.signup a:hover {
    color: blue;
}