.vertical {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.btn {
    width: fit-content;
}

.some {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.marg {
    margin-bottom: 5%;
    margin-top: 5%;
}