h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

h2 {
    font-weight: 700;
}

i {
    font-size: 0.5rem;
}

.whole-greed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-spacing: 2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    gap: 2vw;
}

.columnn {
    width: 31%;
}

.each-deck {
    border-radius: 2%;
    padding: 3%;
    height: 35vh;
    background-color: rgba( 156, 156, 156, 0.05);
}

.length-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2mm;
    align-items: center;
}

@media only screen and (max-width: 800px) {

    .whole-greed {
        display: flex;
        flex-direction: column;
    }

    .whole-greed .columnn {
        width: 100%;
    }
}