* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

.d:hover {
    color: blue;
    /* color: #51399D; */
}

i {
    font-size: 0.5rem;
}

.whole-greed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-spacing: 2px;
    margin-left: 10%;
    margin-right: 10%;
    gap: 1mm;
}

.column {
    width: 25%;
}
.length-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2mm;
    align-items: center;
}
