@import "https://unpkg.com/claymorphism-css/dist/clay.css";

.card {
	background: rgb(255, 255, 255);
	--clay-border-radius: 28px;
	--clay-shadow-inset-secondary: 0 4px 8px 0 rgba(253, 253, 253, 0.2);
	--clay-shadow-inset-primary: 0 4px 8px 0 rgba(232, 232, 232, 0.2);
	max-width: 300px;
	height: 400px;
	text-align: center;
	border: 8px solid rgb(255, 255, 255);
	/* margin-top: 1rem; */
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	min-height: 30px;
}

.page-layout {
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20%;
	text-align: start;
}

.blue {
	background: rgb(255, 255, 255);
	--clay-border-radius: 18px;
	--clay-shadow-inset-secondary: 0 4px 8px 0 rgba(253, 253, 253, 0.2);
	--clay-shadow-inset-primary: 0 4px 8px 0 rgba(232, 232, 232, 0.2);

	max-width: 300px;
	height: 400px;
	/* margin: auto; */
	text-align: center;
	border: 8px solid rgb(255, 255, 255);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	min-height: 30px;
}

.card-w-margin {
	background: rgb(255, 255, 255);
	--clay-border-radius: 18px;
	--clay-shadow-inset-secondary: 0 4px 8px 0 rgba(253, 253, 253, 0.2);
	--clay-shadow-inset-primary: 0 4px 8px 0 rgba(232, 232, 232, 0.2);

	max-width: 300px;
	height: 400px;
	margin: auto;
	margin-top: 7%;
	text-align: center;
	border: 8px solid rgb(255, 255, 0);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bl {
	margin-top: 1rem;
	margin-bottom: 1rem;
	background: rgb(255, 255, 255);
	--clay-border-radius: 18px;
	--clay-shadow-inset-secondary: 0 4px 8px 0 rgba(253, 253, 253, 0.2);
	--clay-shadow-inset-primary: 0 4px 8px 0 rgba(232, 232, 232, 0.2);
	border: 8px solid rgb(255, 255, 255);
	min-width: 100px;
	min-height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.red {
	background: rgb(255, 255, 0);
	--clay-border-radius: 8px;
	--clay-shadow-inset-secondary: 0 0 0 0 rgba(253, 253, 253, 0.2);
	--clay-shadow-inset-primary: 0 0 0 0 rgba(232, 232, 232, 0.2);
	max-width: 300px;
	height: 400px;
	text-align: center;
	border: 8px solid rgb(255, 255, 0);
	/* margin-top: 1rem; */
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	min-height: 30px;
}



@media only screen and (max-width: 600px) {
    .page-layout {
		display: flex;
		flex-direction: column;
	}
	.chart {
		display: none;
	}
	.card {
		min-width: 200px;
	}
	
}