@import "https://unpkg.com/claymorphism-css/dist/clay.css";

.card {
    --clay-background: rgb(255, 255, 255);
    --clay-border-radius: 18px;
    --clay-shadow-inset-secondary: 0 4px 8px 0 rgba(253, 253, 253, 0.2);
    --clay-shadow-inset-primary:  0 4px 8px 0 rgba(232, 232, 232, 0.2);

    max-width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border: 8px solid rgb(255, 255, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

