* {
    text-decoration: none;
}

.button {
    height: fit-content;
    display: flex;
    align-self: center;
    --clay-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}

a {
    color: rgb(98, 84, 100);
    font-weight: 800;
}

a:hover {
    color: blue;
}

/* .navBar {
    width: 100%;
    margin-top: 3mm;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.navLeft {
    display: flex;
    justify-content: space-between;
    gap: 5mm;
    margin-left: 10%;
    align-self: center;
}

.navRight {
    margin-right: 10%;
} */

ul.navBar {
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0;
    overflow: hidden;
}

ul.navBar a {
    float: left;
}

ul.navBar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.right {
    float: right;
}

@media only screen and (max-width: 600px) {
   
    ul.navBar a, .right {
        float: none;
    }
    ul.navBar a  {
        text-align: justify;
        font-size: 1.5rem;
        font-weight: 600 ;
    }
    ul.navBar .hide {
        display: none;
    }
    .text { display: none;}
    .whole-greed {
        display:flex;
        flex-direction: column;
        /* width: 100%; */
    }
    .whole-greed .column {
        width: 100%;
    }
    
}