@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chakra+Petch&display=swap');

* {
    font-family: 'Chakra Petch';
}

.text-gradient {
    font-size: 8rem;
    letter-spacing: 32px;
    background: linear-gradient(to right, #e4d2ea 0%, #3114d5 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    font-weight: 600;
}

.small {
    --clay-background: rgb(255, 255, 255);
    --clay-border-radius: 18px;
    --clay-shadow-inset-secondary: 0 4px 8px 0 rgba(253, 253, 253, 0.2);
    --clay-shadow-inset-primary: 0 4px 8px 0 rgba(232, 232, 232, 0.2);

    width: 300px;
    height: 300px;
    text-align: center;
    border: 8px solid rgb(255, 255, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2mm solid saddlebrown; */
}

.small:hover {
    box-shadow: 0 6px 10px 0 rgba(25, 24, 24, 0.2);
}

.rowOfcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
    /* height: 90vh; */
}