.gray {
    color: rgb(199, 199, 199);
}

.clay:hover {
    box-shadow: 0 6px 10px 0 rgba(25, 24, 24, 0.2);
}

.center {
    position: absolute;
    padding: 2mm;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-51%, -50%);
}

@media only screen and (max-width: 600px) {
    .center {
        position: unset;
        margin-top: 20%;
        top: 0%;
        left: 0%;
        margin-right: 0%;
        transform: translate(0%, 0%)
    }
}