@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chakra+Petch:wght@400;700&display=swap');

* {
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
}

.text {
    background: linear-gradient(to right, #e4d2ea 0%, #3114d5 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gray {
    color: rgb(199, 199, 199);
}

.clay:hover {
    box-shadow: 0 6px 10px 0 rgba(25, 24, 24, 0.2);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media only screen and (max-width: 600px) {
    .center {
        position: unset;
        margin-top: 20%;
        top: 0%;
        left: 0%;
        margin-right: 0%;
        transform: translate(0%, 0%)
    }
}